{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for article in articles %}
    <h1>{{ article.nom }}</h1>
    <p>{{ article.prix }}</p>
    <p>{{ article.description }}</p>
    {% endfor %}
</div>
{% endblock %}
