<div class="bg-dark text-white p-3 d-flex flex-wrap justify-content-around">
    <div>
        <h2>Localisation</h2>
        <p>2, Rue de Sylphe <br>
        95789 Sartrouville</p>
    </div>
    <div>
        <h2>Contact</h2>
        <p>01 45 12 12 45<br>
        trolliste.team@test.com</p>
    </li>
</div>